<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="background.css">
  </head>
<body>
   <%- include("./partials/background.ejs") %>
    <h1 class="description">Choose The Table For Data Entry</h1>

     <div class="options">
        <div><a href="/admin/student">Student</a></div>
        <div><a href="/admin/professor">Professor</a></div>
     </div>

     <div class="heading admin-heading">
        <h1>Hey,Admin...</h1>
        <p>Hope, you're enjoying...</p>
     </div>

</body>
</html>