<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/background.css">
  <link rel="stylesheet" href="/admin_professor.css">
</head>

<body>
  <%- include("./partials/background.ejs") %>
  <div class="body-container">
    <form class="inputs">
      <label>Professor ID</label>
      <input type="text" name="professor_id" id="professor_id" required/>
      <label>First Name</label>
      <input type="text" name="first_name" id="first_name" required/>
      <label>Last Name</label>
      <input type="text" name="last_name" id="last_name" required/>
      <label>Course ID</label>
      <input type="text" name="course_id" id="course_id" required/>
      <button>Add Professor</button>
      <label id="error"></label>
    </form>
  </div>
  <script>
    const form = document.querySelector('form');
    
    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const professor_id = document.getElementById('professor_id').value;
      const first_name = document.getElementById('first_name').value;
      const last_name = document.getElementById('last_name').value;
      const course_id = document.getElementById('course_id').value;

      const res = await fetch('/admin/professor', {
        method: 'POST',
        body: JSON.stringify({ professor_id, first_name, last_name, course_id }),
        headers: {'Content-Type': 'application/json'}
      });

      const data = await res.json();
      console.log(data);
      if(data.err == '')
      {
        location.assign('/admin/professor');
      }
      else
      {
        const errplace = document.getElementById('error');
        errplace.textContent = data.err;
      }
    });

  </script>
</body>
</html>