<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="background.css">
      <link rel="stylesheet" href="style.css">
  </head>
<body>
   <%- include("./partials/background.ejs") %>
     <div class="options">
        <div><a href="/admin">Admin</a></div>
        <div><a href="/professor">Professor</a></div>
        <div><a href="/student">Student</a></div>
     </div>

     <div class="heading">
        <h1>Welcome!</h1>
        <p>Grow yourself with us...</p>
     </div>
</body>

</html>