<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="/professor.css">
</head>
<body>
   <%- include("./partials/background.ejs") %>
   <div class="options">
      <div><a href="/professor/insem1">Insem1</a></div>
      <div><a href="/professor/insem2">Insem2</a></div>
      <div><a href="/professor/endsem">Endsem</a></div>
   </div>

   <div class="heading admin-heading">
      <h1>Hey,Professor...</h1>
      <p>Select the examination whose marks you want to add....</p>
   </div>

</body>
</html>